<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>


  <div class="container">
    <h2>Create Form</h2>
    <div class="form-group">
      <label for="name">ID</label>
      <input type="text" class="form-control" [(ngModel)]="newForm.id">

    </div>


    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="value">value:</label>
          <input type="text" class="form-control" id="value" name="value" [(ngModel)]="newForm.value ">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="type">type:</label>
          <input type="text" class="form-control" id="type" name="type" [(ngModel)]="newForm.type">
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-success" (click)="addNewProduct()">Submit</button>

    <button class="btn btn-basic" routerLink=''>Forms List</button>

  </div>

</body>

</html>